@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Jockey+One&display=swap');


a.navbar-brand {
    display: flex !important;
    align-items: center !important;
}
nav.navbar.bg-body-tertiary {
    background: #8C8577 !important;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.TextTitu{
    font-family: "Inika", serif;
    font-weight: 800;
    background: #8c8577;
    padding: 1rem;
    margin-bottom: 3rem;
}
.col1, .col2, .col3 ,.col4,.col5{
  width: 20rem;
  height: 10rem;
  border-radius: 20px;
}
.col1{
    background-color: #67BF63;
    color: white;

}
.col2{
    background-color: #ACBF65;
    color: white;

}
.col3{
    background-color: #8C8577;
    color: white;
}
.cards{
    gap: 2rem;
}
.crie{
    padding-top: 4rem;
}
.col4 {
    background: #198754;
    color: white;
}
.col5{
    background-color: #8C8577;
    color: white;
}
button.criar {
    border: none;
    background: #67bf63;
    font-size: 20px;
    border-radius: 20px;
    padding-right: 2rem;
    padding-left: 2rem;
}